<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Abreve</key>
    <string>A_breve.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Amacron</key>
    <string>A_macron.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Aringacute</key>
    <string>A_ringacute.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>Cacute</key>
    <string>C_acute.glif</string>
    <key>Ccaron</key>
    <string>C_caron.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Ccircumflex</key>
    <string>C_circumflex.glif</string>
    <key>Cdotaccent</key>
    <string>C_dotaccent.glif</string>
    <key>Dcaron</key>
    <string>D_caron.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ebreve</key>
    <string>E_breve.glif</string>
    <key>Ecaron</key>
    <string>E_caron.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Edotaccent</key>
    <string>E_dotaccent.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Emacron</key>
    <string>E_macron.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Etilde</key>
    <string>E_tilde.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Gbreve</key>
    <string>G_breve.glif</string>
    <key>Gcircumflex</key>
    <string>G_circumflex.glif</string>
    <key>Gcommaaccent</key>
    <string>G_commaaccent.glif</string>
    <key>Gdotaccent</key>
    <string>G_dotaccent.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.salt</key>
    <string>I_.salt.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Iacute.salt</key>
    <string>I_acute.salt.glif</string>
    <key>Ibreve</key>
    <string>I_breve.glif</string>
    <key>Ibreve.salt</key>
    <string>I_breve.salt.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Icircumflex.salt</key>
    <string>I_circumflex.salt.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Idieresis.salt</key>
    <string>I_dieresis.salt.glif</string>
    <key>Idotaccent</key>
    <string>I_dotaccent.glif</string>
    <key>Idotaccent.salt</key>
    <string>I_dotaccent.salt.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Igrave.salt</key>
    <string>I_grave.salt.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif</string>
    <key>Imacron.salt</key>
    <string>I_macron.salt.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>Iogonek.salt</key>
    <string>I_ogonek.salt.glif</string>
    <key>Itilde</key>
    <string>I_tilde.glif</string>
    <key>Itilde.salt</key>
    <string>I_tilde.salt.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>J.salt</key>
    <string>J_.salt.glif</string>
    <key>Jcircumflex</key>
    <string>J_circumflex.glif</string>
    <key>Jcircumflex.salt</key>
    <string>J_circumflex.salt.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Kcommaaccent</key>
    <string>K_commaaccent.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Lacute</key>
    <string>L_acute.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>Lcommaaccent</key>
    <string>L_commaaccent.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>Nacute</key>
    <string>N_acute.glif</string>
    <key>Ncaron</key>
    <string>N_caron.glif</string>
    <key>Ncommaaccent</key>
    <string>N_commaaccent.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Obreve</key>
    <string>O_breve.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Ohungarumlaut</key>
    <string>O_hungarumlaut.glif</string>
    <key>Omacron</key>
    <string>O_macron.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P.salt</key>
    <string>P_.salt.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.salt</key>
    <string>R_.salt.glif</string>
    <key>Racute</key>
    <string>R_acute.glif</string>
    <key>Racute.salt</key>
    <string>R_acute.salt.glif</string>
    <key>Rcaron</key>
    <string>R_caron.glif</string>
    <key>Rcaron.salt</key>
    <string>R_caron.salt.glif</string>
    <key>Rcommaaccent</key>
    <string>R_commaaccent.glif</string>
    <key>Rcommaaccent.salt</key>
    <string>R_commaaccent.salt.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Sacute</key>
    <string>S_acute.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif</string>
    <key>Scircumflex</key>
    <string>S_circumflex.glif</string>
    <key>Scommaaccent</key>
    <string>S_commaaccent.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>Tcaron</key>
    <string>T_caron.glif</string>
    <key>Tcedilla</key>
    <string>T_cedilla.glif</string>
    <key>Tcommaaccent</key>
    <string>T_commaaccent.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ubreve</key>
    <string>U_breve.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uhungarumlaut</key>
    <string>U_hungarumlaut.glif</string>
    <key>Umacron</key>
    <string>U_macron.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>Uring</key>
    <string>U_ring.glif</string>
    <key>Utilde</key>
    <string>U_tilde.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Wacute</key>
    <string>W_acute.glif</string>
    <key>Wcircumflex</key>
    <string>W_circumflex.glif</string>
    <key>Wdieresis</key>
    <string>W_dieresis.glif</string>
    <key>Wgrave</key>
    <string>W_grave.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Ycircumflex</key>
    <string>Y_circumflex.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>Ygrave</key>
    <string>Y_grave.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Zacute</key>
    <string>Z_acute.glif</string>
    <key>Zcaron</key>
    <string>Z_caron.glif</string>
    <key>Zdotaccent</key>
    <string>Z_dotaccent.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>asterisk.part</key>
    <string>asterisk.part.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>currency.tnum</key>
    <string>currency.tnum.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>divide.tnum</key>
    <string>divide.tnum.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.tnum</key>
    <string>eight.tnum.glif</string>
    <key>equal.tnum</key>
    <string>equal.tnum.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f.salt</key>
    <string>f.salt.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f.salt</key>
    <string>f_f.salt.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_i.salt</key>
    <string>f_f_i.salt.glif</string>
    <key>f_f_j</key>
    <string>f_f_j.glif</string>
    <key>f_f_j.salt</key>
    <string>f_f_j.salt.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>f_f_l.salt</key>
    <string>f_f_l.salt.glif</string>
    <key>f_j.salt</key>
    <string>f_j.salt.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>fi.salt</key>
    <string>fi.salt.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.tnum</key>
    <string>five.tnum.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.tnum</key>
    <string>four.tnum.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l.salt</key>
    <string>l.salt.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>lcaron.salt</key>
    <string>lcaron.salt.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>lslash.salt</key>
    <string>lslash.salt.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>minus.tnum</key>
    <string>minus.tnum.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>multiply.tnum</key>
    <string>multiply.tnum.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.tnum</key>
    <string>nine.tnum.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>ogonekcomb.case</key>
    <string>ogonekcomb.case.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r.salt</key>
    <string>r.salt.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.tnum.salt</key>
    <string>seven.tnum.salt.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.tnum</key>
    <string>six.tnum.glif</string>
    <key>t.salt</key>
    <string>t.salt.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.tnum</key>
    <string>three.tnum.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.tnum</key>
    <string>two.tnum.glif</string>
    <key>u.salt</key>
    <string>u.salt.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yen.tnum</key>
    <string>yen.tnum.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.tnum</key>
    <string>zero.tnum.glif</string>
  </dict>
</plist>
