<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <string>C_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.salt</key>
    <string>R_.salt.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>bracketleft.case</key>
    <string>bracketleft.case.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_i.salt</key>
    <string>f_f_i.salt.glif</string>
    <key>f_f_j</key>
    <string>f_f_j.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>f_f_l.salt</key>
    <string>f_f_l.salt.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>multiply.tnum</key>
    <string>multiply.tnum.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>plus.tnum</key>
    <string>plus.tnum.glif</string>
    <key>r.salt</key>
    <string>r.salt.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero.tnum</key>
    <string>zero.tnum.glif</string>
  </dict>
</plist>
