<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>COMBINING_MARKS</key>
    <array>
      <string>acutecomb</string>
      <string>acutecomb.case</string>
      <string>brevecomb</string>
      <string>brevecomb.case</string>
      <string>caroncomb</string>
      <string>caroncomb.alt</string>
      <string>caroncomb.case</string>
      <string>cedillacomb</string>
      <string>cedillacomb.case</string>
      <string>circumflexcomb</string>
      <string>circumflexcomb.case</string>
      <string>commaaccentcomb</string>
      <string>commaaccentcomb.case</string>
      <string>commaturnedabovecomb</string>
      <string>commaturnedabovecomb.case</string>
      <string>dieresiscomb</string>
      <string>dieresiscomb.case</string>
      <string>dotaccentcomb</string>
      <string>dotaccentcomb.case</string>
      <string>gravecomb</string>
      <string>gravecomb.case</string>
      <string>hungarumlautcomb</string>
      <string>hungarumlautcomb.case</string>
      <string>macroncomb</string>
      <string>macroncomb.case</string>
      <string>ogonekcomb</string>
      <string>ogonekcomb.case</string>
      <string>ringcomb</string>
      <string>ringcomb.case</string>
      <string>strokelongcomb</string>
      <string>strokeshortcomb</string>
      <string>tildecomb</string>
      <string>tildecomb.case</string>
    </array>
    <key>public.kern1.MSC_UC_bracketleft</key>
    <array>
      <string>parenleft</string>
      <string>braceleft</string>
      <string>bracketleft</string>
      <string>parenleft.case</string>
      <string>braceleft.case</string>
      <string>bracketleft.case</string>
    </array>
    <key>public.kern1.MSC_UC_dash</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern1.MSC_UC_guillemetleft</key>
    <array>
      <string>guillemetleft</string>
      <string>guilsinglleft</string>
      <string>guillemetleft.case</string>
      <string>guilsinglleft.case</string>
    </array>
    <key>public.kern1.MSC_UC_guillemetright</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
      <string>guillemetright.case</string>
      <string>guilsinglright.case</string>
    </array>
    <key>public.kern1.MSC_VertQuote</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.MSC_colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.MSC_eclam</key>
    <array>
      <string>exclam</string>
    </array>
    <key>public.kern1.MSC_equal</key>
    <array>
      <string>equal</string>
    </array>
    <key>public.kern1.MSC_minus</key>
    <array>
      <string>plus</string>
      <string>minus</string>
      <string>divide</string>
      <string>greater</string>
    </array>
    <key>public.kern1.MSC_period</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>ellipsis</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern1.MSC_quoteleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern1.MSC_quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern1.MSC_slash</key>
    <array>
      <string>slash</string>
    </array>
    <key>public.kern1.MSC_space</key>
    <array>
      <string>space</string>
    </array>
    <key>public.kern1.UC_A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Atilde</string>
    </array>
    <key>public.kern1.UC_B</key>
    <array>
      <string>B</string>
    </array>
    <key>public.kern1.UC_C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
    </array>
    <key>public.kern1.UC_E</key>
    <array>
      <string>AE</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Etilde</string>
      <string>OE</string>
    </array>
    <key>public.kern1.UC_G</key>
    <array>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
    </array>
    <key>public.kern1.UC_Isalt</key>
    <array>
      <string>I.salt</string>
      <string>Iacute.salt</string>
      <string>Ibreve.salt</string>
      <string>Icircumflex.salt</string>
      <string>Idieresis.salt</string>
      <string>Idotaccent.salt</string>
      <string>Igrave.salt</string>
      <string>Imacron.salt</string>
      <string>Iogonek.salt</string>
      <string>Itilde.salt</string>
    </array>
    <key>public.kern1.UC_J</key>
    <array>
      <string>J</string>
      <string>Jcircumflex</string>
    </array>
    <key>public.kern1.UC_Jsalt</key>
    <array>
      <string>J.salt</string>
      <string>Jcircumflex.salt</string>
    </array>
    <key>public.kern1.UC_K</key>
    <array>
      <string>K</string>
      <string>Kcommaaccent</string>
    </array>
    <key>public.kern1.UC_L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Lslash</string>
    </array>
    <key>public.kern1.UC_P</key>
    <array>
      <string>P</string>
    </array>
    <key>public.kern1.UC_R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
    </array>
    <key>public.kern1.UC_Round</key>
    <array>
      <string>D</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>Q.salt</string>
    </array>
    <key>public.kern1.UC_Rsalt</key>
    <array>
      <string>R.salt</string>
      <string>Racute.salt</string>
      <string>Rcaron.salt</string>
      <string>Rcommaaccent.salt</string>
    </array>
    <key>public.kern1.UC_S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>Germandbls</string>
    </array>
    <key>public.kern1.UC_Stem</key>
    <array>
      <string>H</string>
      <string>Hbar</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
    </array>
    <key>public.kern1.UC_T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
    </array>
    <key>public.kern1.UC_U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
    </array>
    <key>public.kern1.UC_W</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern1.UC_X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern1.UC_Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
    </array>
    <key>public.kern1.UC_Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>public.kern1.lc_Caron</key>
    <array>
      <string>dcaron</string>
      <string>lcaron</string>
      <string>lcaron.salt</string>
    </array>
    <key>public.kern1.lc_LongStem</key>
    <array>
      <string>d</string>
      <string>dcroat</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcommaaccent</string>
      <string>f_f_l</string>
      <string>fl</string>
    </array>
    <key>public.kern1.lc_Round</key>
    <array>
      <string>b</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>p</string>
      <string>thorn</string>
    </array>
    <key>public.kern1.lc_ShortStem</key>
    <array>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>f_f_i</string>
      <string>fi</string>
      <string>f_f_i.salt</string>
      <string>fi.salt</string>
    </array>
    <key>public.kern1.lc_Shoulder</key>
    <array>
      <string>h</string>
      <string>hbar</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>eng</string>
      <string>ntilde</string>
    </array>
    <key>public.kern1.lc_a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
    </array>
    <key>public.kern1.lc_c</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
    </array>
    <key>public.kern1.lc_e</key>
    <array>
      <string>ae</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>oe</string>
    </array>
    <key>public.kern1.lc_f</key>
    <array>
      <string>f</string>
      <string>f_f</string>
    </array>
    <key>public.kern1.lc_fsalt</key>
    <array>
      <string>f.salt</string>
      <string>f_f.salt</string>
    </array>
    <key>public.kern1.lc_g</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
    </array>
    <key>public.kern1.lc_j</key>
    <array>
      <string>j</string>
      <string>jdotless</string>
      <string>jcircumflex</string>
      <string>f_f_j</string>
      <string>f_j</string>
      <string>f_f_j.salt</string>
      <string>f_j.salt</string>
    </array>
    <key>public.kern1.lc_k</key>
    <array>
      <string>k</string>
      <string>kcommaaccent</string>
    </array>
    <key>public.kern1.lc_lsalt</key>
    <array>
      <string>l.salt</string>
      <string>lacute.salt</string>
      <string>lcommaaccent.salt</string>
      <string>f_f_l.salt</string>
      <string>fl.salt</string>
    </array>
    <key>public.kern1.lc_lslash</key>
    <array>
      <string>lslash</string>
    </array>
    <key>public.kern1.lc_r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
    </array>
    <key>public.kern1.lc_rsalt</key>
    <array>
      <string>r.salt</string>
      <string>racute.salt</string>
      <string>rcaron.salt</string>
      <string>rcommaaccent.salt</string>
    </array>
    <key>public.kern1.lc_s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
    </array>
    <key>public.kern1.lc_t</key>
    <array>
      <string>t</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
    </array>
    <key>public.kern1.lc_tsalt</key>
    <array>
      <string>t.salt</string>
      <string>tbar.salt</string>
      <string>tcaron.salt</string>
      <string>tcedilla.salt</string>
      <string>tcommaaccent.salt</string>
    </array>
    <key>public.kern1.lc_u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
    </array>
    <key>public.kern1.lc_usalt</key>
    <array>
      <string>u.salt</string>
      <string>uacute.salt</string>
      <string>ubreve.salt</string>
      <string>ucircumflex.salt</string>
      <string>udieresis.salt</string>
      <string>ugrave.salt</string>
      <string>uhungarumlaut.salt</string>
      <string>umacron.salt</string>
      <string>uogonek.salt</string>
      <string>uring.salt</string>
      <string>utilde.salt</string>
    </array>
    <key>public.kern1.lc_vwy</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
    </array>
    <key>public.kern1.lc_x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern1.lc_z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
    <key>public.kern2.MSC_UC_bracketright</key>
    <array>
      <string>parenright</string>
      <string>braceright</string>
      <string>bracketright</string>
      <string>parenright.case</string>
      <string>braceright.case</string>
      <string>bracketright.case</string>
    </array>
    <key>public.kern2.MSC_UC_dash</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern2.MSC_UC_guillemetleft</key>
    <array>
      <string>guillemetleft</string>
      <string>guilsinglleft</string>
      <string>guillemetleft.case</string>
      <string>guilsinglleft.case</string>
    </array>
    <key>public.kern2.MSC_UC_guillemetright</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
      <string>guillemetright.case</string>
      <string>guilsinglright.case</string>
    </array>
    <key>public.kern2.MSC_VertQuote</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.MSC_colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.MSC_equal</key>
    <array>
      <string>equal</string>
    </array>
    <key>public.kern2.MSC_exclam</key>
    <array>
      <string>exclam</string>
    </array>
    <key>public.kern2.MSC_minus</key>
    <array>
      <string>plus</string>
      <string>minus</string>
      <string>divide</string>
      <string>less</string>
    </array>
    <key>public.kern2.MSC_percent</key>
    <array>
      <string>percent</string>
      <string>perthousand</string>
    </array>
    <key>public.kern2.MSC_period</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>ellipsis</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern2.MSC_quoteleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern2.MSC_quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern2.MSC_slash</key>
    <array>
      <string>slash</string>
    </array>
    <key>public.kern2.MSC_space</key>
    <array>
      <string>space</string>
    </array>
    <key>public.kern2.UC_A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Atilde</string>
    </array>
    <key>public.kern2.UC_AE</key>
    <array>
      <string>AE</string>
    </array>
    <key>public.kern2.UC_Eth</key>
    <array>
      <string>Eth</string>
      <string>Dcroat</string>
      <string>Lslash</string>
    </array>
    <key>public.kern2.UC_Isalt</key>
    <array>
      <string>I.salt</string>
      <string>Iacute.salt</string>
      <string>Ibreve.salt</string>
      <string>Icircumflex.salt</string>
      <string>Idieresis.salt</string>
      <string>Idotaccent.salt</string>
      <string>Igrave.salt</string>
      <string>Imacron.salt</string>
      <string>Iogonek.salt</string>
      <string>Itilde.salt</string>
    </array>
    <key>public.kern2.UC_J</key>
    <array>
      <string>J</string>
      <string>Jcircumflex</string>
    </array>
    <key>public.kern2.UC_Jsalt</key>
    <array>
      <string>J.salt</string>
      <string>Jcircumflex.salt</string>
    </array>
    <key>public.kern2.UC_Round</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>Q</string>
      <string>Q.salt</string>
    </array>
    <key>public.kern2.UC_S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>Germandbls</string>
    </array>
    <key>public.kern2.UC_Stem</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>Dcaron</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Etilde</string>
      <string>F</string>
      <string>H</string>
      <string>Hbar</string>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Eng</string>
      <string>Ntilde</string>
      <string>P</string>
      <string>Thorn</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>P.salt</string>
      <string>R.salt</string>
      <string>Racute.salt</string>
      <string>Rcaron.salt</string>
      <string>Rcommaaccent.salt</string>
    </array>
    <key>public.kern2.UC_T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
    </array>
    <key>public.kern2.UC_U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
    </array>
    <key>public.kern2.UC_W</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern2.UC_X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern2.UC_Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
    </array>
    <key>public.kern2.UC_Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>public.kern2.lc_LongStem</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>hbar</string>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>thorn</string>
    </array>
    <key>public.kern2.lc_Round</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>d</string>
      <string>eth</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>g</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>oe</string>
      <string>q</string>
    </array>
    <key>public.kern2.lc_ShortStem</key>
    <array>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>eng</string>
      <string>ntilde</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>r.salt</string>
      <string>racute.salt</string>
      <string>rcaron.salt</string>
      <string>rcommaaccent.salt</string>
    </array>
    <key>public.kern2.lc_a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
    </array>
    <key>public.kern2.lc_f</key>
    <array>
      <string>f</string>
      <string>f_f</string>
      <string>f_f_i</string>
      <string>f_f_j</string>
      <string>f_f_l</string>
      <string>f_j</string>
      <string>fi</string>
      <string>fl</string>
    </array>
    <key>public.kern2.lc_fsalt</key>
    <array>
      <string>f.salt</string>
      <string>f_f.salt</string>
      <string>f_f_i.salt</string>
      <string>f_f_j.salt</string>
      <string>f_f_l.salt</string>
      <string>f_j.salt</string>
      <string>fi.salt</string>
      <string>fl.salt</string>
    </array>
    <key>public.kern2.lc_j</key>
    <array>
      <string>j</string>
      <string>jdotless</string>
      <string>jcircumflex</string>
    </array>
    <key>public.kern2.lc_l</key>
    <array>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
    </array>
    <key>public.kern2.lc_lsalt</key>
    <array>
      <string>l.salt</string>
      <string>lacute.salt</string>
      <string>lcaron.salt</string>
      <string>lcommaaccent.salt</string>
    </array>
    <key>public.kern2.lc_lslash</key>
    <array>
      <string>lslash</string>
    </array>
    <key>public.kern2.lc_p</key>
    <array>
      <string>p</string>
    </array>
    <key>public.kern2.lc_s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
    </array>
    <key>public.kern2.lc_t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>t.salt</string>
      <string>tbar.salt</string>
      <string>tcaron.salt</string>
      <string>tcedilla.salt</string>
      <string>tcommaaccent.salt</string>
    </array>
    <key>public.kern2.lc_u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>u.salt</string>
      <string>uacute.salt</string>
      <string>ubreve.salt</string>
      <string>ucircumflex.salt</string>
      <string>udieresis.salt</string>
      <string>ugrave.salt</string>
      <string>uhungarumlaut.salt</string>
      <string>umacron.salt</string>
      <string>uogonek.salt</string>
      <string>uring.salt</string>
      <string>utilde.salt</string>
    </array>
    <key>public.kern2.lc_vwy</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
    </array>
    <key>public.kern2.lc_x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern2.lc_z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
  </dict>
</plist>
