<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>970</integer>
    <key>capHeight</key>
    <integer>730</integer>
    <key>copyright</key>
    <string>Copyright (c) 2019 Barnbrook Fonts. All rights reserved.</string>
    <key>descender</key>
    <integer>-290</integer>
    <key>familyName</key>
    <string>Sora</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>x</key>
        <integer>171</integer>
        <key>y</key>
        <integer>776</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2019/07/08 10:05:45</string>
    <key>openTypeHheaAscender</key>
    <integer>970</integer>
    <key>openTypeHheaDescender</key>
    <integer>-290</integer>
    <key>openTypeNameDesigner</key>
    <string>Jonathan Barnbrook, Julián Moncada</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.barnbrook.net</string>
    <key>openTypeNameManufacturer</key>
    <string>Barnbrook Fonts</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://fonts.barnbrook.net</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array>
      <integer>3</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>970</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-290</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>96</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>970</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>290</integer>
    <key>postscriptBlueScale</key>
    <real>0.03496</real>
    <key>postscriptBlueShift</key>
    <integer>7</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-18</integer>
      <integer>0</integer>
      <integer>534</integer>
      <integer>552</integer>
      <integer>730</integer>
      <integer>750</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-218</integer>
      <integer>-200</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>72</integer>
      <integer>88</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>96</integer>
      <integer>98</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Sora</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>2</integer>
    <key>xHeight</key>
    <integer>534</integer>
  </dict>
</plist>
